.navbar-menu-middle {
  width: 800px;
}
.navbar-menu-middle ul {
  margin-top: 23px;
  display: flex;
  list-style: none;
}

.navbar-menu-middle li:not(:first-child) {
  margin-left: 30px;
}
.navbar-menu-middle a {
  text-decoration: none;
  font-weight: light;
  color: var(--main-text-color-light);
}
