:root
{
  --primary-color: #2e2e2e;
  --primary-color-dark:#3a3a3a;
  --primary-color-light:#464646;

  --border-color: #707070;
  --shadow-color:#000000;

  --main-text-color: #333333;
  --main-text-color-light: #c0c0c0;
}

body {
  margin: 0;
  color: var(--main-text-color);
  
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
