:root
{
  
  --Navbar-color:#181818;
  --primary-color: #c05c5c;
  --primary-color-light:#252525;

  --border-color: #707070;
  --shadow-color:#000000;

  --main-text-color: #333333;
  --main-text-color-light: #c0c0c0;
}

body {
  margin: 0;
  color: var(--main-text-color);
  
  font-family: Poppins;
  font-size: 14;
  font-weight:light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
