.navbar
{
    background:var(--primary-color-dark);
    display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: 1px 1px 5px 1px #000000;
}

.navbar-menu-middle ul
{
    display: flex;
    list-style: none;
}
.navbar-menu-middle ul li
{
    margin: 10px;;
}
.navbar-menu-middle ul li a
{
    text-decoration: none;
    font-weight: bold;
    color:var(--main-text-color-light);
}

.profile-card-right{
    
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 25px;
    background:rgb(172, 172, 172);
    height: 250px;
    width: 180px;
    box-shadow: 1px 1px 5px 1px #000000;
}
.logo-left
{
   font-size: 24px;
   color:white;
   margin-top: 5px;
   margin-left: 20px;
  
 
}
.logo-left span
{
   font-size: 30px;
   color:violet;
   font-weight: bold;
}