.navbar
{
    background:var(--primary-color-dark);
    display: flex;
    justify-content: space-between;
}

.navbar-menu-middle ul
{
    display: flex;
    list-style: none;
}
.navbar-menu-middle ul li
{
    margin: 10px;;
}
.navbar-menu-middle ul li a
{
    text-decoration: none;
    font-weight: bold;
    color:var(--main-text-color-light);
}