.navbar
{
    background:var(--Navbar-color);
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.navbar-menu-middle ul
{
    display: flex;
    list-style: none;
}

.navbar-menu-middle li
{
    margin: 10px;;
}
.navbar-menu-middle a
{
    text-decoration: none;
    font-weight: bold;
    color:var(--main-text-color-light);
}


.profile-card-right{
    
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 25px;
    background:var(--primary-color-light);
    height: 250px;
    width: 180px;
    box-shadow: 0px 0px 0px 1px var(--border-color),
    1px 1px 5px 1px var(--shadow-color);
}


.logo-left
{
    width: 214px;
    margin-left: 20px;
}