:root {
  --Navbar-color: #181818;
  --Background-color: #252525;
  --Panel-color: #404040;

  --border-color: #707070;
  --shadow-color: #00000077;

  --main-text-color: #333333;
  --main-text-color-light: #c0c0c0;
}

body {
  margin: 0;
  color: var(--main-text-color);

  font-family: Poppins;
  font-size: 14;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--Background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
